*.egg-info/
*.log
*.py[co]
*.so
*.sublime-*
*.sw[nop]
*~
.#*
._*
.cache
.coverage
.DS_Store
.mypy_cache
.project
.pydevproject
.pytest_cache
.tox
.ycp_playground
\#*\#
__pycache__
build
dist
docker-venv
playground
precomputed
venv
version
virtualenv_run
.vscode